div{
  height:100px;
  margin: 5px;
}
a{
  color: black;
}
h1{
  font-size: 2.5rem;
}
.big{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
.facebook{
  background-color: blue;
}
.google{
  background-color: green;
}
.microsoft{
  background-color: yellow;
}
.footer{
  text-align: center;
}
